{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "process": false,
    "console": false
  },
  "rules": {
    "no-alert": 2,
    "no-console": 1,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "quotes": 0,
    "curly": 0,
    "global-strict": 0,
    "new-cap": 0,
    "camelcase": 0,
    "comma-dangle": 0,
    "no-unused-vars": 0,
    "comma-spacing": 1,
    "space-infix-ops": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-multi-spaces": 1,
    "no-extra-semi": 1,
    "no-useless-escape": 1,
    "key-spacing": 1,
    "semi-spacing": 1,
    "eol-last": 1,
    "no-undef": 2,
    "valid-jsdoc": [1, {
      "requireReturn": false,
      "prefer": {
        "return": "returns"
      }
    }]
  }
}
